Repository yamada-ui/yamada-colors: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  priority: 1
  run: 'pnpm prettier {staged_files} --write
  
    '
  stage_fixed: true

lint:
  priority: 2
  run: 'pnpm eslint {staged_files} --max-warnings=0 --fix
  
    '
  stage_fixed: true

ci(changesets): updated dependencies
  package.json
  pnpm-lock.yaml
Due: format

feat(theme): added fonts tokens to theme configuration
  theme/tokens/fonts.ts
  theme/tokens/index.ts
Due: format, lint

chore(.gitignore): update ignored files list
  .gitignore
Due: none

chore: renamed form to forms in components directory
  components/forms/index.ts
  components/forms/palette-color-form.tsx
  components/forms/palette-menu.tsx
  components/forms/search-color.tsx
Due: format, lint

refactor: update import paths for forms components
  components/layouts/header.tsx
  components/overlay/color-command-menu.tsx
  pages/colors/[hex]/header.tsx
  pages/contrast-checker/contrast-search.tsx
  pages/generators/header.tsx
  pages/palettes/[uuid]/hex-control-buttons.tsx
Due: format, lint

refactor(components): updated prop types and ref usage
  components/data-display/category.tsx
  components/data-display/color-card.tsx
  components/forms/palette-menu.tsx
Due: format, lint

chore: updated robots.txt rules
  public/robots.txt
Due: none

refactor(middleware.api): simplified user agent check logic
  middleware.api.ts
Due: format, lint

feat(middleware): added ip extraction and logging
  middleware.api.ts
Due: format, lint

refactor(middleware.api): enhanced ip logging for clarity
  middleware.api.ts
Due: format, lint

refactor(middleware.api): removed excessive logging
  middleware.api.ts
Due: format, lint

feat(middleware): added IP address blocking logic
  middleware.api.ts
Due: format, lint

feat(middleware): added routing config and updated robots
  middleware.api.ts
  public/robots.txt
Due: format, lint

feat(seo): added noindex and nofollow options
  components/media-and-icons/seo.tsx
  layouts/app-layout.tsx
  pages/colors/[hex]/index.page.tsx
  pages/contrast-checker/index.page.tsx
  pages/generators/index.page.tsx
Due: format, lint

chore: updated robots.txt to disallow new paths
  public/robots.txt
Due: none

build(package.json): update dependency versions
  package.json
  pnpm-lock.yaml
Due: format

refactor(components): update fieldProps handling across components
  components/forms/search-color.tsx
  components/layouts/header.tsx
  components/overlay/color-command-menu.tsx
  pages/palettes/[uuid]/context.ts
  pages/palettes/[uuid]/hexes.tsx
Due: format, lint

refactor(root): update node version and cleanup code
  .github/composite-actions/install/action.yml
  .npmrc
  .nvmrc
  eslint.config.ts
  middleware.api.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

ci(install): update node version and eslint config
  .github/composite-actions/install/action.yml
  .gitignore
  .npmrc
  .nvmrc
  eslint.config.ts
  middleware.api.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

refactor: update TypeScript imports and typings
  next.config.ts
  pages/generators/hexes.tsx
  pages/palettes/[uuid]/hex-control-buttons.tsx
  pages/palettes/[uuid]/hexes.tsx
Due: format, lint

build: updated dependencies
  pnpm-lock.yaml
Due: format

fix(i18n): corrected spelling errors in JSON titles
  i18n/ui.en.json
Due: format

build: updated @yamada-ui/react version specifier
  package.json
  pnpm-lock.yaml
Due: format

refactor(components): updated imports and added resetRef handling
  components/forms/palette-color-form.tsx
  components/overlay/color-command-menu.tsx
  pages/palettes/[uuid]/hex-control-buttons.tsx
  pages/palettes/[uuid]/hexes.tsx
Due: format, lint

Path conditions:
  format: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,yml,yaml,md,mdx,json,html,css}
  lint: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}
